header {
  background-color: rgb(38, 52, 204);
  padding: 20px;
}
header nav ul {
  width: 100%;
}
.navbar {
  align-items: center;
  display: flex;
}
header nav ul li {
  display: inline-block;
  text-align: center;
  width: 150px;
}
header nav ul li a {
  text-decoration: solid;
  color: darkblue;
  font-size: 15px;
  font-weight: bold;
}
