.logouno {
  width: 90px;
}

main {
  background-color: rgb(179, 230, 203);
  padding: 20px;
  height: 78vh;
}
h1 {
  margin: 0px 0;
  text-align: center;
  color: darkblue;
  font-weight: bolder;
}
hr {
  color: rgb(225, 60, 143);
}
section {
  margin-top: 0;
  margin: 0px;
}
.suela {
  height: 400px;
}
.fotos {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  animation: fadeIn 5s;
}
.adidas {
  width: 250px;
  height: 250px;
  animation: fadeIn 5s;
}
.conjuntinho {
  animation: fadeIn 5s;
}

.grid-area {
  display: grid;
  grid-template-columns: 4fr 12fr 12fr 12fr;
  grid-template-rows: 10vh 35vh 20vh 15vh;
  grid-template-areas:
    "h1 h1 h1 h1"
    "uno dos tres cuatro"
    "uno . . cuatro"
    "h2 h2 h2 h2";
}
h1 {
  background-color: rgb(179, 230, 203);
  grid-area: h1;
}
section#h2 {
  background-color: rgb(179, 230, 203);
  grid-area: h2;
}
.fotos {
  background-color: rgb(179, 230, 203);
}
div#uno {
  // background-color: rgb(179, 230, 203);
  @extend .fotos;
  grid-area: uno;
}
div#dos {
  // background-color: rgb(179, 230, 203);
  grid-area: dos;
  @extend .fotos;
  display: center;
}
div#tres {
  // background-color: rgb(179, 230, 203);
  grid-area: tres;
  @extend .fotos;
  animation: fadeIn 5s;
}
div#cuatro {
  // background-color: rgb(179, 230, 203);
  grid-area: cuatro;
  @extend .fotos;
  animation: fadeIn 5s;
}

.titulo {
  color: blue;
}
